.clearfix:after {
  content: " ";
  display: table;
  width: 100%;
  clear: both;
}


body {
  font-family: Arial, sans-serif;
  color: #222222;
  margin: 0;
  padding: 0;
}

header {
  background: url(../img/first-bg.jpg) no-repeat center top / cover;
  padding-bottom: 160px;
}

div {
  box-sizing: border-box;
}

nav {
  margin-top: 55px;
  float: right;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.logo {
margin-top: 45px;
float: left;
}

.menu {
  padding: 0;
  margin: 0;
  display: block;
}

.menu li {
  float: left;
  display: block;
  margin-right: 45px;
}

.menu a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

.titles__first {
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 215px;
}

h1 {
  color: #fff;
  font-size: 75px;
  text-transform: uppercase;
  text-align: center;
  margin: 15;
}

.button {
  background: #fed136;
  color: #484543;
  border-radius: 3px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  width: 240px;
  padding: 20px 0;
  margin: 0px auto;
}

.title {
padding-top: 115px;
}

.title h2 {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.title p {
  font-size: 16px;
  text-align: center;
  color: #777777;
  margin: 5px;
}

.services {
margin-top: 80px;
}

.services__item {
  width: 270px;
  float: left;
  text-align: center;
}

.services__item h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.services__item p {
  font-size: 14px;
  color: #777777;
  line-height: 1.5em;
}

.services__item:last-child {
  float: right;
}

.services__item:nth-child(2) {
  margin-left: 65px;
}

#portfolio {
  background: #f7f7f7;
  padding-bottom: 120px;
}

#services {
  padding-bottom: 120px;
}

.works {
  margin-top: 80px;
}

.works img {
  float: left;
}

.works img:last-child {
  float: right;
}

.works img:nth-child(2) {
  margin-left: 35px;
}
